{% extends "reviews/base.html" %}

{% block content %}
    <h1>Recent Tune Reviews</h1>
    <p>Click on 'Leave a Comment' to share your thoughts with the reviewer.</p>
    <div class="container">
        {% for review in reviews %}
            <h4>{{ review.albumId }}</h4>
            <p>{{ review.date_posted|date:"F d, Y" }}</p>
            <p>Review by: {{ review.author }}</p>
            <p>{{ review.review_text }}</p>
            <p>Rating: {{ review.rating }}/5 stars</p>
            <a class="ml-2" href="/reviews/comments/create_comment/">Leave a Comment</a>
        {% endfor %}
    </div>

{% endblock content %}