{% extends "reviews/base.html" %}

{% block content %}


    {% if user.is_authenticated %}
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="co-md-5 text-center text-md-start">
                <h1>
                    <div class="display-2 fw-bold">TuneReview</div>
                    <div class="display-6 text-muted">Rate and Review Music with Friends.</div>
                </h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class = "col-lg-8">
                <div class="list-group">
                    <div class="list-group-item py-3 bg-success text-white mb-2">
                        <h5 class="mb-1">Search.</h5>
                        <p class="mb-1">TuneReview uses Spotify's API to pull in album information.</p>
                    </div>
                    <div class="list-group-item py-3 bg-dark text-white mb-2">
                        <h5 class="mb-1">Review albums.</h5>
                        <p class="mb-1">Write your thoughts on any album, along with a rating.</p>
                    </div>
                    <div class="list-group-item py-3 bg-success text-white mb-2">
                        <h5 class="mb-1">See what's up.</h5>
                        <p class="mb-1">Browse recent reviews and share your thoughts with others in the community.</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <section id="pricing" class="bg-light mt-5">
            <div class="container-lg">
                <div class="text-center">
                    <h2>TuneReview</h2>
                    <h6>The place to rate and review music.</h6>
                </div>
            </div>
        </section>
        <div class="border-top pt-3">
            <small class="text-muted">Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Today</a></small>
        </div>
    {% endif %}
    </div>



{% endblock content %}