{% extends "reviews/base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="co-md-5 text-center text-md-start">
                <h1>
                    <div class="display-4 fw-bold">{{ object.album_id }}</div>
                    <div class="display-6 text-muted">Reviewed by {{ object.author }}.</div>
                    <div class="display-6 text-muted">{{ object.date_posted|date:"F d, Y" }}.</div>
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <p>{{ object.review_text }}</p>
        <p>Rating: {{ object.rating }}/5 stars</p>
    </div>

    <div class="container">
        <h4> Comments </h4>
        {% for comment in comments %}
            <h4>{{ comment.comment_author }}</h4>
            <p>{{ comment.date_posted|date:"F d, y" }} </p>
            <p>{{ comment.comment_text }}</p>
        {% endfor %}
    </div>

    <a href="{% url 'comment-create' review.pk %}" class="card-link">Leave a Comment</a>

{% endblock content %}