{% extends "reviews/base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="co-md-5 text-center text-md-start">
                <h5>
                    <div class="display-4 fw-bold">My Reviews</div>
                    <div class="display-6 text-muted">
                        A list of all reviews you have written.
                    </div>
                </h5>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-8">
            <div class="list-group">
                {% for review in reviews %}
                <a href="{% url 'review-detail' review.pk %}" class="list-group-item list-group-item-action active">
                    {{ review.albumId }}
                  </a>
                <div class="list-group-item py-3">
                    <p class="mb-1">{{ review.date_posted|date:"F d, Y" }}</p>
                    <p class="mb-1">Rating: {{ review.rating }}/5</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}